html {
  font-size: 16px;

}

body {
  font-family: Helvetica, sans-serif;
  line-height: 1.4;
  width: 100%;
}

.container {
  display: flex;
  align-items: center;
}

/* Header */

header .container {
  position: fixed;
  z-index: 1;
  height: 64px;
  width: 100%;
  background-color: white;
  justify-content: space-between;
}

header .logo {
  display: flex;
  align-items: center;
  margin-left: 1.5rem;
}

.logo img {
  height: 2rem;
  width: auto;
}

.logo span {
  font-size: 1.5rem;
  font-weight: bold;
  color: rgb(74,74,74);
  align-items: center;
}
nav {
  margin-right: 1.5rem;
}

nav li {
  display: inline;
  padding-left: 1rem;
}

nav li a {
  font-size: 1.2rem;
  color: rgb(74, 74, 74);
  text-decoration: none;
}

nav li a:hover {
  color: rgb(74, 144, 226);
}

nav li a:active {
  font-weight: bold;
}

.mobile-menu {
  display: none;
}

@media only screen and (max-width: 560px) {
  .logo img,
  .logo span,
  nav {
    display: none;
  }

  header .logo {
    margin-left: 0;
  }

  nav {
    margin-right: 0;
  }

  .mobile-menu {
    width: 100%;
    display: inline-flex;
    justify-content: space-around;
  }
}

/* Main banner */
.main-banner {
  background-color: rgb(216, 216, 216);
}

.main-banner .container {
  padding-top: 4rem;
}

.main-banner img {
  width: 57%;
  /* Incorrect requirements specifications: image's width cannot be 60% */
  padding: 2rem 1.5rem;
}

.call {
  width: 35%;
}

h1, h2, h3, h4 {
  font-weight: bold;
  color: rgb(74, 74, 74);
}

h1 {
  font-size: 3.5rem;
  line-height: 1.2;
}

h4 {
  font-size: 1.9rem;
}

.call h4 {
  padding: 1.5rem 0 2rem 0;
}

.btn {
  border: none;
  background-color: rgb(74, 74, 74);
  color: white;
  font-size: 1.5rem;
  width: 90%;
  padding: 0.5rem;
  cursor: pointer;
}

.btn:hover {
  background-color: rgb(74, 144, 226);
}

@media only screen and (max-width: 560px) {
  .main-banner img {
    width: 100%;
    padding: 0;
  }
  .main-banner .container {
  display: block;
  }
  .call {
  width: 100%;
  padding: 2rem 0 2rem 1rem;
  }

  .btn {
  background-color: rgb(155, 155, 155);
  width: 93%;
  }
}

/* Info block */

.content {
    display: flex;
    justify-content: center;
  }

  /* Main info block */

  .main-block {
  background-color: white;
  width: 60%;
  border-right: 1.5px solid rgb(224, 226, 226);
  }

  .main-block img {
  width: 95%;
  /* Incorrect requirements specifications: image's width cannot be 60% */
  padding: 2rem 1.5rem;
  }

  .description {
  padding-left: 1.5rem;
  padding-bottom: 2rem;
  width: 90%;
  }

  h2 {
  font-size: 3rem;
  }

  p {
  font-size: 1.2rem;
  color: rgb(118, 118, 118);
  padding-top: 1.5rem;
  padding-bottom: 2rem;
  }

  .description span {
  font-size: 1rem;
  color: rgb(74, 74,74);
  margin: 2rem 0;
  }

  @media only screen and (max-width: 560px) {
    .main-block {
      display: none;
    }
  }

  /* News side block */

  .news-block {
    width: 40%;
  }

  .news {
    display: flex;
    align-items: center;
  }

  .news img {
    width: 35%;
    height: auto;
    padding: 1rem;
  }

  #orientation {
    margin-top: 1rem;
  }

  #o-mobile {
  display: none;
  }

  #camp {
  display: flex;
  }

  #camp-mobile {
    display: none;
  }

  #guest {
    display: flex;
  }

  #guest-mobile {
    display: none;
  }

  .news p {
    padding: 0.5rem 0;
  }

  .news a {
    text-decoration: none;
    color: rgb(74, 144, 226);
  }

  .news a:hover {
    font-weight: bold;
  }

  #campus {
    border-top: 3px double rgb(224, 226, 226);
  }

  #background {
    background-color: rgb(216, 216, 216);
  }

@media only screen and (max-width: 560px) {
  .news-block {
    width: 100%;
    height: auto;
    justify-content: center;
  }

  .news {
    display: block;
  }

  .news img {
    width: 93%;
    margin: 0;
  }

  #orientation {
    display: none;
  }

  #o-mobile {
  display: block;
  margin-top: 1rem;
  }

  #camp {
  display: none;
  }

  #camp-mobile {
  display: block;
  }

  #campus {
    border-top: none;
    margin: 4rem 0;
  }

  #guest {
    display: none;
  }

  #guest-mobile {
    display: block;
  }

  #background {
    background-color: white;
    margin-bottom: 2rem;
  }

  .text {
    padding-left: 1rem;
  }
}

/* Courses */

.learning {
  background-color: rgb(234, 235, 236);
  padding: 2rem 3.5rem 2rem 3.5rem;
  text-align: center;
}

.courses {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.course {
  flex-direction: column;
  margin: 2rem 1rem 0 1rem;
  width: 30%;
  height: auto;
  background-color: white;
}

.course img {
  width: 100%;
  height: auto;
  display: block;
}

.name {
  padding: 1rem 1rem 1.5rem 1rem;
}

.name p {
  padding: 0.5rem 0;
}

@media only screen and (max-width: 560px) {
  .learning {
    background-color: white;
    border-top: 1.5px solid rgb(224, 226, 226);
    border-bottom: 1.5px solid rgb(224, 226, 226);
    padding: 2rem 1rem;
  }

  .learning h2 {
    padding-bottom: 1rem;
  }

  .courses {
    display: block;
  }

  .course {
    width: 100%;
    background-color: rgb(234, 235, 236);
    margin: 0 0 0.5rem 0;
  }

  .course img {
    display: none;
  }

  .name {
    padding: 1rem 0 1.5rem 1rem;
    text-align: left;
    }

  .name p {
    display: none;
  }
}

/* Thesis block */

.thesis {
  background-color: white;
}

.thesis h2 {
  text-align: center;
  padding-top: 2rem;
}

.thesis .content {
  padding-top: 2rem;
}

.video {
  width: 60%;
}

video {
  width: 95%;
  /* Incorrect requirements specifications: video's width cannot be 60% */
  padding: 0 1.5rem 1.5rem 1.5rem;
}

.video p {
  padding-top: 0.5rem;
}

@media only screen and (max-width: 560px) {
  .description {
    display: none;
  }

  .thesis .news-block {
    display: none;
  }

  .thesis h2 {
    padding-top: 2rem;
  }

  .content .video {
    width: 100%;
    padding-bottom: 1.5rem;
  }

  video {
    width: 100%;
    padding: 0;
  }
}

/* Footer */

footer {
  display: flex;
  justify-content: space-between;
  padding: 1rem 1.5rem;
  border-top: 1.5px solid rgb(224, 226, 226);
  height: 4rem;
}

footer p {
  font-size: 1rem;
  padding: 0;
}

footer li a {
  font-size: 1rem;
}

@media only screen and (max-width: 560px) {
  footer {
    border-top: none;
    height: auto;
  }

  footer li {
    display: none;
  }
}
